html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 200%;
}
body {
  font-family: 'Muller', Arial, Verdana, sans-serif;
  width: 275px;
  text-align: center;
  padding: 15px 25px;
  background-color: var(--color-s-50);
  border: none;
  margin: 0;
  position: relative;
}
a {
  text-decoration: inherit;
  border: none;
  background-color: transparent;
}
.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.btn-reset {
  border: none;
  background-color: inherit;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
:root {
  --color-s-50: #f2f9f9;
  --color-s-200: #c0dee1;
  --color-s-300: #94c6cc;
  --color-s-400: #60a5b0;
  --color-s-500: #458995;
  --color-s-700: #365d68;
  --color-s-900: #2c4149;
}
.title {
  color: #365d68;
  margin: 0 0 20px 0;
}
.mydict div {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  grid-template-columns: auto;
}
.mydict input[type='radio'] {
  clip: rect(0 0 0 0);
  clip-path: inset(200%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.mydict input[type='radio']:checked + span {
  box-shadow: 0 0 0 0.0625em var(--color-s-700);
  background-color: var(--color-s-200);
  z-index: 1;
  color: var(--color-s-700);
}
label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  font-size: 16px;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: var(--color-s-700);
  text-align: center;
  transition: background-color 0.5s ease;
}
label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}
label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}
.select-container {
  margin: 10px 0;
  text-align: left;
}
.select-container label {
  font-size: 14px;
  color: var(--color-s-700);
}
.select-container select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.change__box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.change__box:not(:last-child) {
  margin: 0 0 16px 0;
}

.change__title {
  font-size: 14px;
  margin: 0 0 6px 0;
  color: var(--color-s-700);
}

/* Book */
.book__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.book__select {
  width: 100%;
  background-color: #fff;
  color: var(--color-s-700);
  border: 1px solid var(--color-s-700);
  margin: 0;
  padding: 6px 12px;
  font-size: 16px;
  text-align: center;
  border-radius: 0.375em;
  outline: none;
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out,
    color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.book__select-2 {
  font-size: 14px;
  padding: 6px 6px;
}

.book__select:focus,
.book__select:hover {
  background-color: var(--color-s-500);
  color: var(--color-s-50);
}

.book__select:active {
  background-color: var(--color-s-700);
  color: var(--color-s-50);
}
.book__btn {
  padding: 3px 6px;
  margin: 0 0 6px 0;
  color: var(--color-s-700);
  border: 1px solid var(--color-s-700);
  background-color: var(--color-s-50);
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out,
    color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.book__btn {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-s-50);
  background-color: var(--color-s-500);
  border: 4px var(--color-s-500) solid;
  text-align: center;
  margin: 0;
  padding: 6px 8px;
  border-radius: 0.375em;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
}

.book__btn:hover,
.book__btn:focus {
  border-color: var(--color-s-700);
}

.book__btn:active {
  color: var(--color-s-50);
  background-color: var(--color-s-900);
  border-color: var(--color-s-900);
}

.waiting__header {
  margin: 0;
  color: var(--color-s-700);
  font-size: 14px;
  text-align: start;
}

.waiting__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  margin-bottom: 12px;
}

.waiting__item {
  padding: 4px;
  border-radius: 10px;
  color: var(--color-s-700);
  border: 1px solid var(--color-s-700);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.waiting__item-delete-btn {
  width: 22px;
  height: 22px;
  background-color: var(--color-s-50);
  color: var(--color-s-500);
  border: 2px solid var(--color-s-500);
  border-radius: 10px;
  margin-left: 8px;
  transition: background-color ease-in-out 0.5s, border-color ease-in-out 0.5s,
    color ease-in-out 0.5s;
}

.waiting__item-delete-btn:hover,
.waiting__item-delete-btn:active,
.waiting__item-delete-btn:focus {
  background-color: var(--color-s-500);
  color: var(--color-s-50);
  border-color: var(--color-s-500);
}

.created {
  font-size: 12px;
  color: var(--color-s-500);
}

/* Loading */
.loader__box {
  position: fixed; /* Изменено: фиксированное позиционирование */
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%; /* Изменено: занимает всю область */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-s-50);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 70px 0;
  perspective: 780px;
}

.load-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.375em;
}

.load-inner.load-one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid #5c5edc;
  animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
  right: 0%;
  top: 0%;
  border-right: 3px solid #9147ff;
  animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid #3b82f6;
  animation: rotate3 1.15s 0.15s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

/* From Uiverse.io by G4b413l */
.scanner span {
  color: transparent;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}

.scanner span::before {
  content: 'Loading...';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid var(--color-s-900);
  overflow: hidden;
  color: var(--color-s-700);
  animation: load91371 2s linear infinite;
}

@keyframes load91371 {
  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: var(--color-s-900);
  }

  60%,
  80% {
    width: 100%;
  }
}
